@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-lightGreen;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

*::selection {
  background-color: #f8f8f8;
  color: #000;
}
